$color_main: rgb(255, 151, 119);
$color_second: rgb(111, 255, 207);
$color_border: #eee;
$color_text: #444;
$color_heading: #222;
$color_tab_container: #FFF;
$color_link: $color_heading;

$color_success: #36d47c;
$color_fail: #ff7d30;

$font_weight_text: 300;
$font_weight_heading: 400;
$font_weight_link: $font_weight_heading;

$box_shadow: 0 0 20px 0 rgba(1,1,1,.1);
